<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>110000</string>
    <string>310000</string>
    <string>440100</string>
    <string>440300</string>
    <string>120000</string>
    <string>330100</string>
    <string>320100</string>
    <string>320500</string>
    <string>420100</string>
    <string>430100</string>
    <string>610100</string>
    <string>410100</string>
    <string>350200</string>
    <string>500000</string>
    <string>510100</string>
</array>
</plist>
